.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Typing {
  width: 60%;

  & .text {
    color: black;
    font-size: 4.0rem;
    margin-top: 20px;
    word-wrap: break-word;

    & .each_string {
      margin: 10px;
    }


    & .before_type {
      color: black;
    }

    & .target_type {
      color: darkred;
    }

    & .after_type {
      color: rgba(0, 0, 0, 0.1);
    }
  }

  & input {
    opacity : 0;
  }
}

